*
{
    margin: 0 auto;
}

body
{
    text-align: center;
    margin: 0px;
    background-image: url("../img/wall.jpg");
}

#c_pricipal
{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.45vw;
    border: double rgb(0, 97, 255)0.5vw;
    width: 60%;
    position: relative;
    left: 20%;
    top:300px;
    height: auto;
    margin: 0px;
    padding: 30px;
    text-align: center;
}

.botão
{
    border-radius: 15px;
    height: 5vh;
    background-color: #0026ff;
    color: #fff;
    margin-left: 0.75vw;
    cursor: pointer;
    width: 90%;
}

.title
{
    font-size:12%;   
	color:#000;
	font-family:verdana;
}