*
{
margin: 0 auto;
}
body
{
text-align:center;
margin:0px;
background-image:url("../img/wall.jpg");

}
#c_pricipal
{
background-color: rgba(255, 255, 255, 0.8);
border-radius: 0.45vw;
border: double rgb(0, 97, 255)0.5vw;
width:60%;
position:relative;
left:20%;
top:40px;
height:auto;
margin:0px;
padding:30px;
text-align:left;

}
.title
{
    font-size:100%;
	color:#000;
	font-family:verdana;
    text-align:center;
}
#txt1
{
width:350px;
}
 #txt2
{
width:350px;
}
.campo {
    font-size:1.25vw;
	color:#000;
	font-family:verdana;
    text-align:justify;
}
span {
    color:red;
}

.botão
{
    border-radius: 15px;
    height: 5vh;
    background-color: #0026ff;
    color: #fff;
    margin-left: 4vw;
    cursor: pointer;
    width: 80%;
}
