

/*geral:*/

td {
    color: #000;
}

p {
    color: #000;
    font-family: Open Sans;
}

iframe {
    margin-left: 2.5%;
}

legend {
    color: #000;
    font-family: Open Sans;
    font-size: 1.5vw;
    text-shadow: 0px 0px 2.5px #000000;
}

body {
    background-color: #fcfcfc;
}
/*#b1c1db*/
* {
    MARGIN: 0 AUTO
}

/*::-webkit-scrollbar-track {background-color:#ffffff;} ::-webkit-scrollbar {width:1.5vh;}  ::-webkit-scrollbar-thumb {background:darkblue; border-radius:5px;}*/

span {
    color: red;
}
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(icons.woff2) format('woff2');
}


@font-face {
    font-family: 'rwby_style';
    src: url('rwby_style.eot');
    src: url('rwby_style.eot?#iefix') format('embedded-opentype'), url('rwby_style.woff') format('woff'), url('rwby_style.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*fim do geral*/


/*id:*/

#body {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #ededed
}

#scroller {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*overflow: auto;*/
    z-index: 2;
}

#cabecalho {
    text-align: center;
    width: 100%;
}

#logo {
    height: 5vh;
    width: 9vw;
    position: absolute;
    MARGIN-LEFT: 42.5%;
   
}

#back {
    height: 100px;
    width: 100%;
    margin-bottom: px;
}

#c_pricipal {
    width: 73%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.45vw;
    border: double #0000ff 0.5vw;
    margin-top: 4.5vw;
    margin-left: 1.5%;
    float: left;
    padding: 1.125vw;
}

#c_sec1 {
    float: left;
    width: 18%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.45vw;
    border: double #0000ff 0.5vw;
    margin-top: 4.5vw;
    margin-left: 2%;
}

#c_sec1_epi {
    float: left;
    width: 18%;
    background-color: rgba(54, 54, 54, 0.8);
    margin-top: 4.5vw;
    margin-left: 2%;
    border-radius: 1.125vw;
    border: solid black 0.05vw;
}

#imgbemvindo {
    width: 70%;
    height: 375px;
    margin-top: 10px;
    margin-bottom: 5%;
}

#c_pricipal_quiz {
    width: 100%;
    /*box-shadow: 0px 5px 25px #000;
    background-color: rgba(255, 255, 255, 0.8);*/
    border-radius: 00vw;
    /*border: solid #64c4fb 0.01vw;*/
    margin-top: 4.5vw;
    /*margin-left: 1%;*/
    margin: auto;
    
}

#cabecalho1 {
    width: 100%;
    height: auto;
    border-radius: 0vw;
    z-index: 1010;
    /*padding-top: 0.5vh;*/
    position: fixed;
    border-bottom: solid 0.05vh black;
    background-color:#ededed
}

#classificacao1 {
    font-family: Open Sans;
    color: #000;
    font-size: 2.25vw
}

#copy {
    margin-left: 0px;
    width: 100%;
    height: 15%;
    background: linear-gradient(#1d1d1d,black);
   
}

    #copy p {
        text-align: center;
        font-family: Open Sans;
        color: #fffeee;
        font-size: 100vw;
    }

#img_res {
    float: right;
    margin-right: 100px;
}

#foto {
    width: 100%;
    height: 100%;
}

#log {
    height: auto;
    width: 14vh;
    float: left;
    margin-left: 1.5vw;
    margin-right: 5.5vw;
    border-radius: 2vw;
}

#concentra {
    width: 97.5%;
    height: 22.9%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
}

#poster1 {
    border-radius: 0px;
    width: 30%;
    height: 99.5%;
    float: left;
    position: relative;
    overflow: hidden;
}

    #poster1 .lp {
        position: absolute;
        width: 0%;
        height: 0%;
        bottom: 0;
        left: 0;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 2px;
        overflow: hidden;
    }

#txtImg {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 250px;
}

#lis2 {
    width: 67%;
    height: 8.75%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 3%;
    float: left;
    overflow: hidden;
    transition: 1.2s;
}

#lis3 {
    width: 67%;
    height: 8.75%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 3%;
    float: left;
    overflow: hidden;
    transition: 1.2s;
}

#lis4 {
    width: 67%;
    height: 7.85%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 3%;
    float: left;
    overflow: hidden;
    transition: 1.2s;
}

#lis5 {
    width: 67%;
    height: 8.75%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 3%;
    float: left;
    overflow: hidden;
    transition: 1.2s;
}

#lis10 {
    width: 67%;
    height: 6.55%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 3%;
    float: left;
    overflow: hidden;
    transition: 1.2s;
}

#aguenta {
    width: 98%;
    height: 52px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.125vw;
    transition: 0.1s;
}

#aguenta1 {
    width: 98%;
    height: 52px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.125vw;
    transition: 0.1s;
}

#aguenta2 {
    width: 98%;
    height: 52px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.125vw;
    transition: 0.1s;
}

#aguenta3 {
    width: 98%;
    height: 52px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.125vw;
    transition: 0.1s;
}

#aguenta4 {
    width: 98%;
    height: 52px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.125vw;
    transition: 0.1s;
}

#aguenta5 {
    width: 98%;
    height: 52px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.125vw;
    transition: 0.1s;
}

#c1 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#c11 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
    position: relative;
}

#c111 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#c33 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#c19 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#c199 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#cepo {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#c3444 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#c333 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#c344 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#c34 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#c1999 {
    text-indent: 0em;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

#perleg {
    height: 170vh;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.6);
    margin-right: 1px;
    padding-top: 10px;
    float: left;
    display: block;
    margin-right: 5px;
}

#nome {
    padding-top: 1.125vw;
    height: 5%;
    width: 95%;
    background-color: darkred;
    margin-bottom: 10px;
}

#mudaimg {
    height: 6.9%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#perimg {
    margin-top: 10px;
    height: 42%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.6);
}

#copy p {
    font-size: 1.35vw;
}

#mainslider {
    width: 100%;
    height: 100%;
    background: linear-gradient(#007bff, white);
    z-index: 1000;
    margin-top: -22.11vh;
   
}

    #mainslider img {
        display: none;
    }
/*fim dos id*/



/*class:*/


.subslider {
    width: 100%;
    height: 70vh;
    background: linear-gradient(#007bff, white);
    z-index: 1000;
    display: block;
    margin-left: 0%;

    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    
    width: 10vw;
   
    padding: 1vw;
    z-index: 1000;
    
    float: left;
    margin-left: 8vw;
    border: solid 0.05vh black;
    background-color: #fff
}

    .dropdown-content a {
        text-align: center;
        font-family: Open Sans;
        color: #fffeee;
        font-size: 1.2vw;
        border-top: solid rgba(0, 0, 0, 1) 0.05vw;
        border-bottom: solid rgba(0, 0, 0, 1) 0.05vw;
    }

.centertext {
    text-align: center;
    font-family: verdana;
    color: #fffeee;
    font-size: 5vw;
    text-shadow: 0vw 0vw 1.2vw darkblue;
    z-index: 999;
    position: relative;
    top: 38vh;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2vw;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.nada {
    height: 8%;
    width: 15%;
    background-color: #000;
}

.xy {
    float: left;
    margin: 8px;
    cursor: pointer;
    font-size: 1.125vw;
    text-align: center;
    font-family: Open Sans;
}

.xz {
    font-size: 1.125vw;
    font-family: Open Sans;
}

.xz1 {
    font-size: 1.125vw;
    text-align: center;
    font-family: Open Sans;
}

.perlegen {
    margin-top: 1.125vw;
    height: 37%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.ep {
    font-family: Open Sans;
    font-size: 1.125vw;
    color: #ffffff;
    text-align: center;
}

.epl {
    font-family: Open Sans;
    font-size: 1.125vw;
    color: #ffffff;
    text-align: center;
}

.tep {
    text-indent: 0.5em;
    text-align: justify;
    font-family: Open Sans;
    font-size: 40px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    margin-top: 10px;
    border-bottom: #ff0000 solid 1px
}

.tep1 {
    text-align: center;
    font-family: Open Sans;
    font-size: 40px;
    color: #000;
    text-shadow: 0px 0px 5px #000000;
    margin-top: 10px;
    border-bottom: #0000ff solid 1px
}

.lpt {
    text-align: center;
    font-family: Open Sans;
    font-size: 1.4vw;
    color: #fff;
    text-shadow: 0px 0px 5px #000000;
    margin-top: 0;
    margin-bottom: 0;
}

.poster .lp {
    position: absolute;
    width: 0%;
    height: 0%;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    overflow: hidden;
}

.arts .lp {
    position: absolute;
    width: 0%;
    height: 0%;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    overflow: hidden;
}

.artsy .lp {
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    position: relative;
    background-color: #007bff;
 
}

.mup {
    font-family: Open Sans;
    font-size: 1.4vw;
    margin-top: 0.8vw;
}

    .mup a {
        color: #000;
        display: inline-block;
        padding-left: 0.2vw;
        padding-right: 0.2vw;
        margin-top: 0.6vw;
        /*/*-webkit-text-stroke-width: 0.15vh; 
        /*-webkit-text-stroke-color: #000;*/
        /*text-shadow: 0vw 0vw 0.5vw #000;*/
    }

.ml {
    font-family: arial;
    font-size: 1.35vw;
    display: block;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 1vw;
    border-top: solid rgba(0, 0, 0, 0.9) 0.05vw;
    color: #000;
}

.ml1 {
    font-family: arial;
    font-size: 1.35vw;
    display: block;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 1vw;
    color: #000;
}

.ht {
    font-family: Open Sans;
    font-size: 3.75vw;
    text-align: center;
    color: #007bff;
}

.ht1 {
    font-family: Open Sans;
    font-size: 1.75vw;
    text-align: center;
    color: #007bff;
}

.ht3 {
    font-family: Open Sans;
    font-size: 2.25vw;
    text-align: justify;
    color: #000;
}

.ht2 {
    font-family: Open Sans;
    font-size: 2.25vw;
    text-align: center;
    color: #000;
}

.foto {
    width: 100%;
    height: 100%;
}

.foto1 {
    width: 100%;
    height: 100%;
   filter: blur(1.5px);

}


.tx {
    font-size: 1.4vw;
    text-align: justify;
    text-indent: 4em;
    color: #000;
    font-family: Open Sans;
    margin:1vw;
}

.title {
    font-family: Open Sans;
    font-size: 2.5vw;
    text-align: left;
    margin:1vw;
    /*border-bottom:#00e1b1 solid 1px;*/
    color: #007bff;
}

.gif {
    width: 70%;
    height: 20%;
    margin-top: 10px;
}

.qts {
    margin-top: 10px;
    color: #000;
}

.legenda {
    text-align: center;
    font-size: 1.125vw;
    color: #000;
}

.lnt {
    color: #ff0000;
}

.foto {
    width: 100%;
    height: 100%;
}

.poster {
    border-radius: 0px;
    width: 30%;
    height: 99.5%;
   
    float: left;
    position: relative;
    overflow: hidden;
}

.lis1 {
    width: 67%;
    height: 6.55%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 3%;
    float: left;
    overflow: hidden;
    transition: 1.2s;
}


.concentra {
    width: 97.5%;
    height: 22.9%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
}

.x {
    MARGIN-BOTTOM: 10px;
    font-family: Open Sans;
    text-align: justify;
    color: #ffffff;
    font-size: 20px;
}

.tp {
    width: 100%;
    height: 5.55%;
    background-color: rgba(0, 0, 0, 0.8);
    float: left;
    overflow: hidden;
    transition: 1.2s;
}

.xw {
    MARGIN-BOTTOM: 10px;
    font-family: Open Sans;
    text-align: right;
    color: #ededed;
    font-size: 1.125vw;
    right: 0;
}

.xw1 {
    MARGIN-BOTTOM: 10px;
    font-family: Open Sans;
    text-align: center;
    color: #a9a9a9;
    font-size: 1.125vw;
}

.le {
    color: #ffffff;
}

.lm {
    color: #000;
    font-family: Open Sans;
    font-size: 1.125vw;
    text-align: center;
}

.original {
    margin-left: 2%;
    margin-top: 3%;
    height: auto;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    padding: 5px;
    margin-bottom: 20px;
}

.modalVisual {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modalConteudo {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;
}

.modalConteudo1 {
    margin: auto;
    display: block;
    width: auto;
    max-width: 1000px;
}

.original1 {
    padding: 5px;
    margin-left: 4%;
    margin-top: 3%;
    height: auto;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    margin-bottom: 20px;
}

.fechar {
    position: absolute;
    top: 1.125vw;
    right: 35px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.arts {
    width: 35%;
    height: auto;
    margin: 1.5vw;
    float: right;
  
    position: relative;
    overflow: hidden;
}

.artsy {
    width: 41%;
    height: auto;
    margin: 4vw;
    float: left;
    border: solid #007bff 0.08vw;
    padding: 0vw;
   
    cursor:pointer;
}

.arts1 {
    width: 5%;
      height: auto;
    margin-right: 20%;
    margin-bottom: 5vh;
    margin-left:20%;
    float: left;
}

.arts2 {
    width: 18.6%;
    height: 22%;
    margin-right: 7.455%;
    margin-bottom: 5vh;
    float: left;
   
}

.arts4 {
    width: 25.6%;
    height: 35vh;
    margin-right: 4.455%;
    margin-bottom: 5vh;
    float: left;
   
}

.arts3 {
    width: 23%;
    height: 33vh;
    margin-right: 1.60%;
    margin-bottom: 5vh;
    float: left;
}

.arts7 {
    width: 17%;
    height: 68vh;
    margin-right: 1.60%;
    margin-bottom: 5vh;
    float: left;
}

.arts8 {
    width: 27%;
    height: 33vh;
    margin-right: 1.60%;
    margin-bottom: 5vh;
    float: left;
}

.artsp {
    width: 25%;
    float: left;
    margin: 5px;
    float: left;
    overflow: hidden;
    height: 20%;
}

.cbimg {
    text-align: center;
    margin-bottom: 10px;
}

.ltn {
    color: #000;
}
/*fim das class*/






/*efeitos*/


    .mup:hover .dropdown-content {
        display: block;
    }

.mup a:hover {
    /*color: #007bff;*/
    /*// border-radius:0.5vw;*/
    /*background-color: rgb(255,255,255);*/
    /*text-shadow: 0vw 0vw 0.5vw #0000ff;*/
    /*-webkit-transition: text-shadow 200ms linear;
    -ms-transition: text-shadow 200ms linear;
    transition: text-shadow 200ms linear;*/
    color: #0082ff;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
   
}

.ltn:hover {
    color: grey;
}

.epl:hover {
    color: #000;
    text-shadow: 0px 0px 5px #000000;
}

.poster:hover .lp {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    overflow: hidden;
    transition: 0s;
}

/*.arts:hover .lp {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    overflow: hidden;
    transition: 0s;
}*/



#poster1:hover .lp {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    overflow: hidden;
    transition: 0s;
}


.ml:hover {
    color: #000;
    text-shadow: 5px 5px 10px #000000;
}

.ml1:hover {
    color: #000;
    text-shadow: 5px 5px 10px #000000;
}

.lnt:hover {
    text-decoration: underline;
    color: #8B1A1A;
}

/*.poster > .foto {
    width: 100%;
    opacity: 0.9;
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
    filter: alpha(opacity=95) border-radius: 5px;
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}*/

/*.arts > .foto {
    width: 100%;
    opacity: 0.9;
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
    filter: alpha(opacity=95) border-radius: 5px;
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}*/

.artsy > .foto {
    width: 100%;
    opacity: 0.9;
    -webkit-filter: grayscale(8%);
    filter: grayscale(8%);
    filter: alpha(opacity=90);
    border-radius: 0px;
   
}

.poster:hover > .foto {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-filter: grayscale(00%);
    filter: grayscale(0%);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
   
    -ms-filter: blur(0px);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

/*.arts:hover > .foto {
    opacity: 1;
    filter: alpha(opacity=100) -webkit-filter: grayscale(00%);
    filter: grayscale(0%);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}*/

.artsy:hover > .foto {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-filter: grayscale(00%);
    filter: grayscale(0%);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    
    -ms-filter: blur(0px);
    /*-webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);*/
}



#poster1:hover > .foto {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-filter: grayscale(00%);
    filter: grayscale(0%);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

.lis1:hover {
    height: 99.5%;
    transition: 1.2s;
}

#lis10:hover {
    height: 99.5%;
    transition: 1.2s;
    overflow: auto;
}

#lis2:hover {
    height: 99.5%;
    transition: 1.2s;
    overflow: auto;
}

#lis3:hover {
    height: 99.5%;
    transition: 1.2s;
    overflow: auto;
}

#lis4:hover {
    height: 99.5%;
    transition: 1.2s;
    overflow: auto;
}

#lis5:hover {
    height: 99.5%;
    transition: 1.2s;
    overflow: auto;
}

.le:hover {
    color: #696969;
}

/*fim dos efeitos*/
